### EXP1 : internal validation

- In this EXP I choose 30 maybe, 8 OK and 12 fail subjects for ADHD200 total of 50 subjects
- Pierre and I Rated them 1 time each

In [1]:
# Load library
import pandas as pd
import os

In [2]:
# paths
path_root = "/home/yassinebha/Drive"
path_qc = os.path.join(path_root,"QC_zooniverse/zooqc_internal_validation")

In [3]:
# read CSV's
qc_pierre = pd.read_csv(os.path.join(path_qc,"intarnal_validation_exp1_Pierre_rating.csv"))
qc_yassine = pd.read_csv(os.path.join(path_qc,"intarnal_validation_exp1_Yassine_rating.csv"))
subject_match_id = pd.read_csv(os.path.join(path_qc,"brain-match-subjects_exp1_internal_rating.csv"))
qc_pierre.head()

   subject_id most_likely
0     5179027       Maybe
1     5179028       Maybe
2     5179029        Fail
3     5179030       Maybe
4     5179031       Maybe

In [4]:
qc_yassine.head()

   subject_id most_likely
0     5179100       Maybe
1     5179101       Maybe
2     5179102          OK
3     5179103          OK
4     5179104          OK

In [5]:
subject_match_id.head()

,subject_id,project_id,workflow_ids,subject_set_ids,metadata
0,5179015,2989,[3213],[7624],"{""images"":""summary_X3912996_anat2template.gif""..."
1,5179016,2989,[3213],[7624],"{""images"":""summary_X0010003_anat2template.gif""..."
2,5179017,2989,[3213],[7624],"{""images"":""summary_X0010013_anat2template.gif""..."
3,5179018,2989,[3213],[7624],"{""images"":""summary_X0010032_anat2template.gif""..."
4,5179019,2989,[3213],[7624],"{""images"":""summary_X0010067_anat2template.gif""..."

In [6]:
# retrive subject ID from the list of string in each cell
subjects = subject_match_id.metadata.str[-10:-2]
subject_match_id.loc[:,'ID']=subjects
subject_match_id.head()

,subject_id,project_id,workflow_ids,subject_set_ids,metadata,ID
0,5179015,2989,[3213],[7624],"{""images"":""summary_X3912996_anat2template.gif""...",X3912996
1,5179016,2989,[3213],[7624],"{""images"":""summary_X0010003_anat2template.gif""...",X0010003
2,5179017,2989,[3213],[7624],"{""images"":""summary_X0010013_anat2template.gif""...",X0010013
3,5179018,2989,[3213],[7624],"{""images"":""summary_X0010032_anat2template.gif""...",X0010032
4,5179019,2989,[3213],[7624],"{""images"":""summary_X0010067_anat2template.gif""...",X0010067

In [7]:
# Add subject id Correspondance for Pierre
qc_pierre_id = pd.merge(qc_pierre,subject_match_id[["subject_id","ID"]], how = 'left', on = 'subject_id')
qc_pierre_id.head()

   subject_id most_likely        ID
0     5179027       Maybe  X0026002
1     5179028       Maybe  X0026009
2     5179029        Fail  X0026016
3     5179030       Maybe  X0026022
4     5179031       Maybe  X0026024

In [8]:
# Add subject id Correspondance for Yassine
qc_yassine_id = pd.merge(qc_yassine,subject_match_id[["subject_id","ID"]], how = 'left', on = 'subject_id')
qc_yassine_id.head()

   subject_id most_likely        ID
0     5179100       Maybe  X3160561
1     5179101       Maybe  X3902469
2     5179102          OK  X0010009
3     5179103          OK  X2415970
4     5179104          OK  X3163200

In [9]:
# merge yassine pierre csv's
merged_qc = pd.merge(qc_pierre_id,qc_yassine_id,on='ID',how='left')
merged_qc

    subject_id_x most_likely_x        ID  subject_id_y most_likely_y
0        5179027         Maybe  X0026002       5179077         Maybe
1        5179028         Maybe  X0026009       5179078         Maybe
2        5179029          Fail  X0026016       5179079         Maybe
3        5179030         Maybe  X0026022       5179080         Maybe
4        5179031         Maybe  X0026024       5179081         Maybe
5        5179032            OK  X0026039       5179082            OK
6        5179033         Maybe  X0026043       5179083         Maybe
7        5179034         Maybe  X1962503       5179084         Maybe
8        5179035         Maybe  X1996183       5179085         Maybe
9        5179036            OK  X2014113       5179086            OK
10       5179037         Maybe  X2081148       5179087         Maybe
11       5179038          Fail  X2740232       5179088          Fail
12       5179039         Maybe  X3611827       5179089         Maybe
13       5179040         Maybe  X3917422       5179090         Maybe
14       5179015            OK  X3912996       5179065            OK
15       5179016          Fail  X0010003       5179066          Fail
16       5179017          Fail  X0010013       5179067          Fail
17       5179018          Fail  X0010032       5179068          Fail
18       5179019          Fail  X0010067       5179069          Fail
19       5179020          Fail  X0021014       5179070          Fail
20       5179021          Fail  X0021037       5179071          Fail
21       5179022          Fail  X0021046       5179072          Fail
22       5179023          Fail  X1435954       5179073          Fail
23       5179024          Fail  X2136051       5179074          Fail
24       5179025          Fail  X2297413       5179075          Fail
25       5179026          Fail  X2854839       5179076          Fail
26       5179053         Maybe  X2415970       5179103            OK
27       5179054         Maybe  X3163200       5179104            OK
28       5179055         Maybe  X2876903       5179105         Maybe
29       5179056         Maybe  X2961243       5179106            OK
30       5179057         Maybe  X0010052       5179107         Maybe
31       5179058            OK  X0010054       5179108            OK
32       5179059            OK  X0010083       5179109            OK
33       5179060            OK  X0010088       5179110            OK
34       5179061         Maybe  X0021013       5179111         Maybe
35       5179062         Maybe  X0021015       5179112         Maybe
36       5179063         Maybe  X0021018       5179113         Maybe
37       5179064            OK  X0021020       5179114            OK
38       5179041         Maybe  X4104523       5179091         Maybe
39       5179042         Maybe  X4362730       5179092         Maybe
40       5179043         Maybe  X0010007       5179093         Maybe
41       5179044         Maybe  X0010120       5179094         Maybe
42       5179045         Maybe  X0027034       5179095         Maybe
43       5179046         Maybe  X3848511       5179096         Maybe
44       5179047            OK  X3107623       5179097            OK
45       5179048         Maybe  X3519022       5179098         Maybe
46       5179049            OK  X3433846       5179099         Maybe
47       5179050         Maybe  X3160561       5179100         Maybe
48       5179051         Maybe  X3902469       5179101         Maybe
49       5179052         Maybe  X0010009       5179102            OK

In [13]:
# Replace OK:1 , Maybe:2 and Fail:3
merged_qc.replace({'OK':1,'Maybe':2, 'Fail':3}, inplace=True)
merged_qc.head()

   subject_id_x  most_likely_x        ID  subject_id_y  most_likely_y
0       5179027              2  X0026002       5179077              2
1       5179028              2  X0026009       5179078              2
2       5179029              3  X0026016       5179079              2
3       5179030              2  X0026022       5179080              2
4       5179031              2  X0026024       5179081              2

In [14]:
from sklearn import metrics
kappa = metrics.cohen_kappa_score(merged_qc[['most_likely_x']], merged_qc[['most_likely_y']])
print("The kappa betwen Yassine and Pierre is %f " %(kappa))

The kappa betwen Yassine and Pierre is 0.801061

In [15]:
kappa

0.80106100795755963